header.header.bg-color
	.header__wrap.clearfix
		.logo
			a.logo__link(href="index.html")
				img.logo__img(src="images/logo.png", alt="logo")
		.hide-menu
			include navmenu.jade
		include soc-icon.jade