nav.menu.bg-color
	ul.menu__list
		li.menu__item
			a.menu__link(href="index.html") Обо мне
		li.menu__item
			a.menu__link(href="myWorks.html") Мои работы
		li.menu__item 
			a.menu__link(href="connect.html") Связаться со мной