- var site1 = { image: "images/site1.png", title: "www.site.ru", descr: "Информация о проекте 1 превью 2 строки..." };
- var site2 = { image: "images/site2.png", title: "www.site.ru", descr: "Информация о проекте 2 превью 2 строки..." };
- var site3 = { image: "images/site3.png", title: "www.site.ru", descr: "Информация о проекте 3 превью 2 строки..." };
- var site4 = { image: "images/site4.png", title: "www.site.ru", descr: "Информация о проекте 4превью 2 строки..." };

- var collection = [ site1, site2, site3, site4 ];