.soc-icon
	ul.soc-icon__list
		li.soc-icon__item
			a.soc-icon__link.vk(href="#")
		li.soc-icon__item
			a.soc-icon__link.tw(href="#")
		li.soc-icon__item
			a.soc-icon__link.fb(href="#")
		li.soc-icon__item
			a.soc-icon__link.gh(href="#")